*{
    padding: 0%;
    margin: 0%;

}
body{
    background-color: green;
}
header{
    text-align: center;
    font-size: large;
    margin-top: 15px;
}
form{
    text-align: center;
    background-color: white;
    max-width: 500px;
    padding: 30px 20px;
    margin: 50px auto;
}
.bla{
    text-align: left;
    word-spacing: 5px;
    margin-top: 25px;
}
.bla label{
    display: block;
    margin-bottom: 10px;
}
 /* Styling form-control input,
        select, textarea */
 .bla input,

 .bla select,

 .bla textarea {

     border: 1px solid #777;
     border-radius: 2px;
     font-family: inherit;
     padding: 10px;
     display: block;
     width: 95%;
 }

 /* Styling form-control Radio
        button and Checkbox */
 .bla input[type="radio"],

 .bla input[type="checkbox"] {

     display: inline-block;
     width: auto;
 }

 /* Styling Button */
 button {
     background-color: #05c46b;
     border: 1px solid #777;
     border-radius: 2px;
     font-family: inherit;
     font-size: 21px;
     display: block;
     width: 100%;
     margin-top: 50px;
     margin-bottom: 20px;
 }
 